
.slide-item {
  display: flex !important;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 10px;
  text-decoration: none !important;  
  cursor: pointer;
}

.slide-item h3 {
  color: #333;
  font-size: 16px;
  
}
 .slide-item img {
  max-width: 50%;
  height: auto;
  display: block; 
}

.slick-prev:before,
.slick-next:before {
  color: #333;
}

.slick-prev, 
.slick-next {
  z-index: 1;
  width: 40px;
  height: 40px;
  

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
/* HorizontalNav.css */
.container {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.slider-container {
  margin: 0 auto;
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.slide-item img {
  max-width: 100%;
  height: auto;
}

button.slide-item {
  background: none;
  border: none;
}

/* Media queries */
@media (max-width: 1024px) {
  .slide-item h3 {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .slide-item h3 {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .slide-item h3 {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .slick-prev {
    left: 5px; 
  }

  .slick-next {
    right: 5px; 
  }
}

